<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Corsi</title>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </environment>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    </environment>

</head>
<body>
    
    <header>

       <nav class="navbar navbar-expand-lg navbar-light bg-primary ">

           <a class="navbar-brand"><img src="~/image/image.png" height="70"></a>
           
           <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div id="navbar" class="collapse navbar-collapse">
               <ul class="navbar-nav mr-auto">
                   
                   <li class="nav-item active">                
                       <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                   </li>
                   <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Courses">Elenco dei corsi</a>                       
                   </li>
               </ul>
           </div>
       </nav>
       
    </header>


    <div class="container">

            @RenderBody()
    </div>



      <footer>
        <p>Contattaci al numero 1234567890</p>
    </footer> 


    <environment exclude="Development">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>       
    </environment>

    <environment include="Development">
        <script> src="~/lib/bootstrap/dist/js/bootstrap.min.js" </script>
        <script> src="~/lib/jquery.js" </script>        
        <script> src="~/lib/popper.min.js" </script>        
    </environment>
    
    
</body>
</html>